*, *::after, *::before{
    box-sizing: border-box;
}

.modal{
    /* position: fixed;
    top: 50%; */
    left: 30%;
    /* transform: translate(-50%, -50%) scale(0); */
        transform: scale(0);

    /*since we are using scale we can use transition for animation*/
    /* transition: 200ms ease-in-out; */
    /* width: 200px; */
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    width: 400px;
    max-width: 80%;
    background-color: aliceblue;
}

/* .w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}} */
.modal.active{
    /* transform: translate(-50%, -50%) scale(1); */
    transform: scale(1);
    position:relative;
    animation:animatetop 0.4s;

}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.modal-header .title, .close-button{
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-header button{
    cursor: pointer;
    border:none;
    outline: none;
    background: none;
}

.modal-body{
    padding: 10px;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}